.h-20 {
    height: 20%;
}

.h-80 {
    height: 82.6%;
}

.bg {background-color: #eeeeee;}

.border-b {border-bottom: 1px solid #ddd;}
.border-t {border-top: 1px solid #ddd;}
.border-r {border-right: 1px solid #eee;}

.chat-form textarea.box {
    width: 80%;
    height: 50px;
    float: left;
    overflow-y: hidden;
}

.chat-form button {
    height: 50px;
    width: 20%;
    background-color: #57b846;
    color: white;
}
